                <div class="nav-wrapper">
                  <div class="nav-background">
                    <nav class="wrapper">
                        <ul>
                            <li><a href="{{ site.baseurl }}/guides/">Guides</a></li>
                            <li><a href="{{ site.baseurl }}/api/">Docs</a></li>
                            <li><a href="{{ site.baseurl }}/community/">Community</a></li>
                            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                        </ul>
                    </nav>
                  </div>
                </div>
