{% include header.html %}
        <div class="header-container">
            <header class="wrapper clearfix">
              <h1 class="title ir"><a href="{{ site.baseurl }}">{{ site.nickname }}</a></h1>
                <nav>
                    <ul>
                        <li><a href="{{ site.baseurl }}cases/">Cases</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Community</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

              {{ content }}

            </div> <!-- #main -->
        </div> <!-- #main-container -->
{% include footer.html %}
